USE [GameDB]

update character SET guild_id =0,guild_stat =0,guild_permission =0
delete guild
insert into guild (guild_id,guild_name,type) values(0,'Navy HQ',0)
insert into guild (guild_id,guild_name,type) values(1,'Navy Division 1',0)
insert into guild (guild_id,guild_name,type) values(2,'Navy Division 2',0)

declare @id int
select @id =11
while @id <100
begin
    insert into guild (guild_id,guild_name,type) values(@id,'Navy Division '+convert(varchar(2),@id),0)
    select @id =@id +1
end


select @id =111
while @id <200
begin
    insert into guild (guild_id,guild_name,type) values(@id,'Pirate'+convert(varchar(2),@id-100)+'Guild',1)
    select @id =@id +1
end