# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables

# Tempfiles
*.ipch
*.pch
*.ncb
*.obj
*.sdf
*.idb

.VC.db

# Debugfiles
*.pdb

#no necessary files
*.exe

#for only source
./source/client2.4/Common
./source/client2.4/Engine

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
