# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables

# Tempfiles
*.ipch
*.pch
*.ncb
*.obj
*.sdf
*.idb

.VC.db

# Debugfiles
*.pdb

#no necessary files
*.exe
source/client2.4/client/client/temp/Release/Game.exe.intermediate.manifest
source/client2.4/client/client/temp/Release/mt.dep

#for only source
source/client2.4/Common
source/client2.4/Engine
source/server/Common
client/
server/resource
server/LOG
server/logfile
source/client2.4/client/client/temp/Release

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
